/*************************************************************************************
************************************Page Index***************************************/

/* Choix de la taille des caracteres et le style d'ecriture pour toute la page index*/
html{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

/*Aplliquer du style sur les élements d'entete de nos pages*/

.logo{
    width: 20%;
    height: 100;
    position:relative;
    top:40px;
    
}

.entete{
    text-align:center;
    font-size: 1.5rem;
    margin: 5px 0px 5px 0px;
    position:relative;
    left: 200px; 
    
}

ul{
    width: 97.8%;
    height: auto;
    padding:15px;
    border: 5px solid black;
    display:inline-flex;
    background-color: black;
    margin: 5px 0px 5px 0px;
}
    

.promo{
    width: 100%;
    height: 250px;
}

a{
    color:white;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 1rem;

}
/*Appliquer du style sur le crops de la page*/
section{
    display:flex;
      
}

#text{
    width: 70%;
    height: auto;
}
#fside{
    width: 30%;
    height: auto;
    background-color:#d2d2d2;
      
}

/*******************************************************************************************
*********************************Le web responsive******************************************/
@media screen and(max-width:768px){

}